In [1]:
import pandas as pd
import os

In [2]:
concat_df = pd.DataFrame()
for files in os.listdir(r"C:\Users\hardip thummar\Desktop\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data"):
    file = os.path.join(r"C:\Users\hardip thummar\Desktop\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data", files)
    df = pd.read_csv(file)
    concat_df = pd.concat([concat_df, df])

In [3]:
concat_df[concat_df['Product'].isna()]

      Order ID Product Quantity Ordered Price Each Order Date Purchase Address
1          NaN     NaN              NaN        NaN        NaN              NaN
356        NaN     NaN              NaN        NaN        NaN              NaN
735        NaN     NaN              NaN        NaN        NaN              NaN
1433       NaN     NaN              NaN        NaN        NaN              NaN
1553       NaN     NaN              NaN        NaN        NaN              NaN
1571       NaN     NaN              NaN        NaN        NaN              NaN
1992       NaN     NaN              NaN        NaN        NaN              NaN
2265       NaN     NaN              NaN        NaN        NaN              NaN
2798       NaN     NaN              NaN        NaN        NaN              NaN
3024       NaN     NaN              NaN        NaN        NaN              NaN
3098       NaN     NaN              NaN        NaN        NaN              NaN
4279       NaN     NaN              NaN        NaN        NaN              NaN
4562       NaN     NaN              NaN        NaN        NaN              NaN
4958       NaN     NaN              NaN        NaN        NaN              NaN
5565       NaN     NaN              NaN        NaN        NaN              NaN
6109       NaN     NaN              NaN        NaN        NaN              NaN
6119       NaN     NaN              NaN        NaN        NaN              NaN
6339       NaN     NaN              NaN        NaN        NaN              NaN
6430       NaN     NaN              NaN        NaN        NaN              NaN
6752       NaN     NaN              NaN        NaN        NaN              NaN
7163       NaN     NaN              NaN        NaN        NaN              NaN
7572       NaN     NaN              NaN        NaN        NaN              NaN
7648       NaN     NaN              NaN        NaN        NaN              NaN
8639       NaN     NaN              NaN        NaN        NaN              NaN
8896       NaN     NaN              NaN        NaN        NaN              NaN
9286       NaN     NaN              NaN        NaN        NaN              NaN
9501       NaN     NaN              NaN        NaN        NaN              NaN
9592       NaN     NaN              NaN        NaN        NaN              NaN
9604       NaN     NaN              NaN        NaN        NaN              NaN
9642       NaN     NaN              NaN        NaN        NaN              NaN
...        ...     ...              ...        ...        ...              ...
3865       NaN     NaN              NaN        NaN        NaN              NaN
3977       NaN     NaN              NaN        NaN        NaN              NaN
4015       NaN     NaN              NaN        NaN        NaN              NaN
4208       NaN     NaN              NaN        NaN        NaN              NaN
4253       NaN     NaN              NaN        NaN        NaN              NaN
4533       NaN     NaN              NaN        NaN        NaN              NaN
4606       NaN     NaN              NaN        NaN        NaN              NaN
4852       NaN     NaN              NaN        NaN        NaN              NaN
5309       NaN     NaN              NaN        NaN        NaN              NaN
5984       NaN     NaN              NaN        NaN        NaN              NaN
6212       NaN     NaN              NaN        NaN        NaN              NaN
6772       NaN     NaN              NaN        NaN        NaN              NaN
7156       NaN     NaN              NaN        NaN        NaN              NaN
7495       NaN     NaN              NaN        NaN        NaN              NaN
8435       NaN     NaN              NaN        NaN        NaN              NaN
8539       NaN     NaN              NaN        NaN        NaN              NaN
9124       NaN     NaN              NaN        NaN        NaN              NaN
9177       NaN     NaN              NaN        NaN        NaN              NaN
9202       NaN     NaN              NaN        NaN        NaN              NaN
9237       NaN     NaN              NaN        NaN        NaN              NaN
9244       NaN     NaN              NaN        NaN        NaN              NaN
9382       NaN     NaN              NaN        NaN        NaN              NaN
9672       NaN     NaN              NaN        NaN        NaN              NaN
9853       NaN     NaN              NaN        NaN        NaN              NaN
9936       NaN     NaN              NaN        NaN        NaN              NaN
10012      NaN     NaN              NaN        NaN        NaN              NaN
10274      NaN     NaN              NaN        NaN        NaN              NaN
10878      NaN     NaN              NaN        NaN        NaN              NaN
11384      NaN     NaN              NaN        NaN        NaN              NaN
11662      NaN     NaN              NaN        NaN        NaN              NaN

[545 rows x 6 columns]

In [4]:
concat_df[concat_df['Product'].isna()==True]

      Order ID Product Quantity Ordered Price Each Order Date Purchase Address
1          NaN     NaN              NaN        NaN        NaN              NaN
356        NaN     NaN              NaN        NaN        NaN              NaN
735        NaN     NaN              NaN        NaN        NaN              NaN
1433       NaN     NaN              NaN        NaN        NaN              NaN
1553       NaN     NaN              NaN        NaN        NaN              NaN
1571       NaN     NaN              NaN        NaN        NaN              NaN
1992       NaN     NaN              NaN        NaN        NaN              NaN
2265       NaN     NaN              NaN        NaN        NaN              NaN
2798       NaN     NaN              NaN        NaN        NaN              NaN
3024       NaN     NaN              NaN        NaN        NaN              NaN
3098       NaN     NaN              NaN        NaN        NaN              NaN
4279       NaN     NaN              NaN        NaN        NaN              NaN
4562       NaN     NaN              NaN        NaN        NaN              NaN
4958       NaN     NaN              NaN        NaN        NaN              NaN
5565       NaN     NaN              NaN        NaN        NaN              NaN
6109       NaN     NaN              NaN        NaN        NaN              NaN
6119       NaN     NaN              NaN        NaN        NaN              NaN
6339       NaN     NaN              NaN        NaN        NaN              NaN
6430       NaN     NaN              NaN        NaN        NaN              NaN
6752       NaN     NaN              NaN        NaN        NaN              NaN
7163       NaN     NaN              NaN        NaN        NaN              NaN
7572       NaN     NaN              NaN        NaN        NaN              NaN
7648       NaN     NaN              NaN        NaN        NaN              NaN
8639       NaN     NaN              NaN        NaN        NaN              NaN
8896       NaN     NaN              NaN        NaN        NaN              NaN
9286       NaN     NaN              NaN        NaN        NaN              NaN
9501       NaN     NaN              NaN        NaN        NaN              NaN
9592       NaN     NaN              NaN        NaN        NaN              NaN
9604       NaN     NaN              NaN        NaN        NaN              NaN
9642       NaN     NaN              NaN        NaN        NaN              NaN
...        ...     ...              ...        ...        ...              ...
3865       NaN     NaN              NaN        NaN        NaN              NaN
3977       NaN     NaN              NaN        NaN        NaN              NaN
4015       NaN     NaN              NaN        NaN        NaN              NaN
4208       NaN     NaN              NaN        NaN        NaN              NaN
4253       NaN     NaN              NaN        NaN        NaN              NaN
4533       NaN     NaN              NaN        NaN        NaN              NaN
4606       NaN     NaN              NaN        NaN        NaN              NaN
4852       NaN     NaN              NaN        NaN        NaN              NaN
5309       NaN     NaN              NaN        NaN        NaN              NaN
5984       NaN     NaN              NaN        NaN        NaN              NaN
6212       NaN     NaN              NaN        NaN        NaN              NaN
6772       NaN     NaN              NaN        NaN        NaN              NaN
7156       NaN     NaN              NaN        NaN        NaN              NaN
7495       NaN     NaN              NaN        NaN        NaN              NaN
8435       NaN     NaN              NaN        NaN        NaN              NaN
8539       NaN     NaN              NaN        NaN        NaN              NaN
9124       NaN     NaN              NaN        NaN        NaN              NaN
9177       NaN     NaN              NaN        NaN        NaN              NaN
9202       NaN     NaN              NaN        NaN        NaN              NaN
9237       NaN     NaN              NaN        NaN        NaN              NaN
9244       NaN     NaN              NaN        NaN        NaN              NaN
9382       NaN     NaN              NaN        NaN        NaN              NaN
9672       NaN     NaN              NaN        NaN        NaN              NaN
9853       NaN     NaN              NaN        NaN        NaN              NaN
9936       NaN     NaN              NaN        NaN        NaN              NaN
10012      NaN     NaN              NaN        NaN        NaN              NaN
10274      NaN     NaN              NaN        NaN        NaN              NaN
10878      NaN     NaN              NaN        NaN        NaN              NaN
11384      NaN     NaN              NaN        NaN        NaN              NaN
11662      NaN     NaN              NaN        NaN        NaN              NaN

[545 rows x 6 columns]

In [5]:
concat_df = concat_df.dropna(how= 'all')

In [6]:
concat_df.reset_index(inplace = True, drop = True)

In [7]:
concat_df[concat_df['Order Date'] == 'Order Date']

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
517,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1146,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1152,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2869,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2884,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
3026,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
3198,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
3607,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
4127,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
4632,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
4781,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
5289,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
6919,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
7476,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
8612,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
9164,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
9303,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
9940,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
10850,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
10923,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
11237,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
11581,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
11704,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
11739,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
11835,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
12414,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
13316,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
13974,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
14472,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
14810,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
...,...,...,...,...,...,...
169978,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
170020,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
170125,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
170436,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
170728,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
171313,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
171509,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
171645,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
172315,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
172355,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
172900,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
173170,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
174583,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
176332,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
178381,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
178439,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
178967,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
180219,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
180843,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
182973,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
183277,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
183953,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
184129,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
184242,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
184578,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
184624,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
185009,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186019,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186088,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186194,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

In [8]:
concat_df.drop(index = concat_df[concat_df['Order Date'] == 'Order Date'].index,inplace = True)

In [9]:
concat_df.reset_index(inplace = True, drop = True)

In [10]:
# concat_df['Order Date'] = pd.to_datetime(concat_df['Order Date'])

In [11]:
# concat_df['month'] = concat_df['Order Date'].dt.month

In [12]:
mydict = {'Quantity Ordered' : int,
         'Price Each' : float}
concat_df = concat_df.astype(mydict)

In [13]:
concat_df['amount'] = concat_df['Quantity Ordered'] * concat_df['Price Each']

In [14]:
# month_revenue = concat_df.groupby(by = 'month').sum()['amount']

In [15]:
# concat_df.groupby(by = ['month']).sum()['amount'].sort_values(ascending = False).reset_index().loc[0]

In [16]:
def get_city(x):
    return x.split(',')[1]

def get_state(x):
    return x.split(',')[2].split(' ')[1]

concat_df['city'] = concat_df['Purchase Address'].apply(lambda x : get_city(x) + "-" + get_state(x))

In [17]:
# city_revenue = concat_df.groupby(by = ['city']).sum()['amount']
concat_df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,amount,city
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",23.90,Dallas-TX
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",99.99,Boston-MA
2,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",600.00,Los Angeles-CA
3,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",11.99,Los Angeles-CA
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",11.99,Los Angeles-CA
5,176562,USB-C Charging Cable,1,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016",11.95,San Francisco-CA
6,176563,Bose SoundSport Headphones,1,99.99,04/02/19 07:46,"668 Center St, Seattle, WA 98101",99.99,Seattle-WA
7,176564,USB-C Charging Cable,1,11.95,04/12/19 10:58,"790 Ridge St, Atlanta, GA 30301",11.95,Atlanta-GA
8,176565,Macbook Pro Laptop,1,1700.00,04/24/19 10:38,"915 Willow St, San Francisco, CA 94016",1700.00,San Francisco-CA
9,176566,Wired Headphones,1,11.99,04/08/19 14:05,"83 7th St, Boston, MA 02215",11.99,Boston-MA
10,176567,Google Phone,1,600.00,04/18/19 17:18,"444 7th St, Los Angeles, CA 90001",600.00,Los Angeles-CA
11,176568,Lightning Charging Cable,1,14.95,04/15/19 12:18,"438 Elm St, Seattle, WA 98101",14.95,Seattle-WA
12,176569,27in 4K Gaming Monitor,1,389.99,04/16/19 19:23,"657 Hill St, Dallas, TX 75001",389.99,Dallas-TX
13,176570,AA Batteries (4-pack),1,3.84,04/22/19 15:09,"186 12th St, Dallas, TX 75001",3.84,Dallas-TX
14,176571,Lightning Charging Cable,1,14.95,04/19/19 14:29,"253 Johnson St, Atlanta, GA 30301",14.95,Atlanta-GA
15,176572,Apple Airpods Headphones,1,150.00,04/04/19 20:30,"149 Dogwood St, New York City, NY 10001",150.00,New York City-NY
16,176573,USB-C Charging Cable,1,11.95,04/27/19 18:41,"214 Chestnut St, San Francisco, CA 94016",11.95,San Francisco-CA
17,176574,Google Phone,1,600.00,04/03/19 19:42,"20 Hill St, Los Angeles, CA 90001",600.00,Los Angeles-CA
18,176574,USB-C Charging Cable,1,11.95,04/03/19 19:42,"20 Hill St, Los Angeles, CA 90001",11.95,Los Angeles-CA
19,176575,AAA Batteries (4-pack),1,2.99,04/27/19 00:30,"433 Hill St, New York City, NY 10001",2.99,New York City-NY
20,176576,Apple Airpods Headphones,1,150.00,04/28/19 11:42,"771 Ridge St, Los Angeles, CA 90001",150.00,Los Angeles-CA
21,176577,Apple Airpods Headphones,1,150.00,04/04/19 19:25,"260 Spruce St, Dallas, TX 75001",150.00,Dallas-TX
22,176578,Apple Airpods Headphones,1,150.00,04/09/19 23:35,"513 Church St, Boston, MA 02215",150.00,Boston-MA
23,176579,AA Batteries (4-pack),1,3.84,04/11/19 10:23,"886 Jefferson St, New York City, NY 10001",3.84,New York City-NY
24,176580,USB-C Charging Cable,1,11.95,04/05/19 00:35,"886 Willow St, Los Angeles, CA 90001",11.95,Los Angeles-CA
25,176581,iPhone,1,700.00,04/09/19 21:38,"84 Jackson St, Boston, MA 02215",700.00,Boston-MA
26,176582,Bose SoundSport Headphones,1,99.99,04/27/19 12:20,"178 Lincoln St, Atlanta, GA 30301",99.99,Atlanta-GA
27,176583,AAA Batteries (4-pack),2,2.99,04/20/19 12:00,"146 Jackson St, Portland, OR 97035",5.98,Portland-OR
28,176584,Flatscreen TV,1,300.00,04/24/19 20:39,"936 Church St, San Francisco, CA 94016",300.00,San Francisco-CA
29,176585,Bose SoundSport Headphones,1,99.99,04/07/19 11:31,"823 Highland St, Boston, MA 02215",99.99,Boston-MA
...,...,...,...,...,...,...,...,...
185920,259329,Lightning Charging Cable,1,14.95,09/05/19 19:00,"480 Lincoln St, Atlanta, GA 30301",14.95,Atlanta-GA
185921,259330,AA Batteries (4-pack),2,3.84,09/25/19 22:01,"763 Washington St, Seattle, WA 98101",7.68,Seattle-WA
185922,259331,Apple Airpods Headphones,1,150.00,09/29/19 07:00,"770 4th St, New York City, NY 10001",150.00,New York City-NY
185923,259332,Apple Airpods Headphones,1,150.00,09/16/19 19:21,"782 Lake St, Atlanta, GA 30301",150.00,Atlanta-GA
185924,259333,Bose SoundSport Headphones,1,99.99,09/19/19 18:03,"347 Ridge St, San Francisco, CA 94016",99.99,San Francisco-CA
185925,259334,USB-C Charging Cable,1,11.95,09/27/19 10:52,"276 14th St, Atlanta, GA 30301",11.95,Atlanta-GA
185926,259335,Lightning Charging Cable,1,14.95,09/26/19 17:21,"791 Forest St, Seattle, WA 98101",14.95,Seattle-WA
185927,259336,AAA Batteries (4-pack),3,2.99,09/25/19 00:13,"753 14th St, Boston, MA 02215",8.97,Boston-MA
185928,259337,USB-C Charging Cable,1,11.95,09/19/19 17:34,"495 Park St, Boston, MA 02215",11.95,Boston-MA
185929,259338,AAA Batteries (4-pack),2,2.99,09/02/19 21:29,"666 Lakeview St, Boston, MA 02215",5.98,Boston-MA
185930,259339,USB-C Charging Cable,2,11.95,09/12/19 23:43,"509 Park St, Austin, TX 73301",23.90,Austin-TX
185931,259340,AA Batteries (4-pack),2,3.84,09/18/19 20:18,"544 Hickory St, Los Angeles, CA 90001",7.68,Los Angeles-CA
185932,259341,27in 4K Gaming Monitor,1,389.99,09/24/19 22:16,"501 Adams St, Seattle, WA 98101",389.99,Seattle-WA
185933,259342,AA Batteries (4-pack),1,3.84,09/07/19 20:09,"579 South St, Boston, MA 02215",3.84,Boston-MA
185934,259343,USB-C Charging Cable,1,11.95,09/14/19 19:30,"675 Maple St, Austin, TX 73301",11.95,Austin-TX
185935,259344,AAA Batteries (4-pack),2,2.99,09/10/19 23:33,"721 Madison St, San Francisco, CA 94016",5.98,San Francisco-CA
185936,259345,ThinkPad Laptop,1,999.99,09/21/19 23:12,"406 Dogwood St, San Francisco, CA 94016",999.99,San Francisco-CA
185937,259346,Bose SoundSport Headphones,1,99.99,09/29/19 17:24,"484 Cedar St, New York City, NY 10001",99.99,New York City-NY
185938,259347,AA Batteries (4-pack),1,3.84,09/26/19 10:12,"979 Madison St, Los Angeles, CA 90001",3.84,Los Angeles-CA
185939,259348,Lightning Charging Cable,1,14.95,09/30/19 21:03,"260 Spruce St, Boston, MA 02215",14.95,Boston-MA
185940,259349,AAA Batteries (4-pack),1,2.99,09/01/19 22:14,"911 River St, Dallas, TX 75001",2.99,Dallas-TX
185941,259350,Google Phone,1,600.00,09/30/19 13:49,"519 Maple St, San Francisco, CA 94016",600.00,San Francisco-CA
185942,259350,USB-C Charging Cable,1,11.95,09/30/19 13:49,"519 Maple St, San Francisco, CA 94016",11.95,San Francisco-CA
185943,259351,Apple Airpods Headphones,1,150.00,09/01/19 19:43,"981 4th St, New York City, NY 10001",150.00,New York City-NY
185944,259352,USB-C Charging Cable,1,11.95,09/07/19 15:49,"976 Forest St, San Francisco, CA 94016",11.95,San Francisco-CA
185945,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",8.97,Los Angeles-CA
185946,259354,iPhone,1,700.00,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",700.00,San Francisco-CA
185947,259355,iPhone,1,700.00,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",700.00,San Francisco-CA
185948,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",379.99,San Francisco-CA
185949,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",11.95,San Francisco-CA

In [18]:
concat_df.groupby(by = ['city'])['amount'].sum().sort_values(ascending = False).reset_index().loc[0]

city       San Francisco-CA
amount           8.2622e+06
Name: 0, dtype: object

In [19]:
concat_df.groupby(by = ['Product'])['amount'].sum().sort_values(ascending = False).reset_index().loc[0]

Product    Macbook Pro Laptop
amount             8.0376e+06
Name: 0, dtype: object

In [20]:
bulk_df = concat_df[concat_df['Order ID'].duplicated(keep = False)]
bulk_df.reset_index(drop = True, inplace = True)

In [21]:
bulk_df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,amount,city
0,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",600.00,Los Angeles-CA
1,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",11.99,Los Angeles-CA
2,176574,Google Phone,1,600.00,04/03/19 19:42,"20 Hill St, Los Angeles, CA 90001",600.00,Los Angeles-CA
3,176574,USB-C Charging Cable,1,11.95,04/03/19 19:42,"20 Hill St, Los Angeles, CA 90001",11.95,Los Angeles-CA
4,176585,Bose SoundSport Headphones,1,99.99,04/07/19 11:31,"823 Highland St, Boston, MA 02215",99.99,Boston-MA

In [22]:
product_group = dict()
sub_group = []
for row in bulk_df.itertuples():
    index, order_id, product = row[0], row[1], row[2]
    if index == 0:
        sub_group.append(product)
    else:
        if order_id == bulk_df.at[index-1,'Order ID']:
            sub_group.append(product)
        else:
            product_group[bulk_df.at[index-1, 'Order ID']] = sub_group
            sub_group = []
            sub_group.append(product)
    if index == len(bulk_df)-1:
        product_group[bulk_df.at[index, 'Order ID']] = sub_group

In [23]:
from itertools import combinations

In [24]:
pair = []
for group in product_group.values():
    pairs = combinations(group, 2)
    for item in pairs:
        pair.append(item)

In [25]:
from collections import Counter

In [26]:
c = Counter(pair)

In [27]:
c.most_common(10)

[(('iPhone', 'Lightning Charging Cable'), 1005),
 (('Google Phone', 'USB-C Charging Cable'), 987),
 (('iPhone', 'Wired Headphones'), 447),
 (('Google Phone', 'Wired Headphones'), 414),
 (('Vareebadd Phone', 'USB-C Charging Cable'), 361),
 (('iPhone', 'Apple Airpods Headphones'), 360),
 (('Google Phone', 'Bose SoundSport Headphones'), 220),
 (('USB-C Charging Cable', 'Wired Headphones'), 160),
 (('Vareebadd Phone', 'Wired Headphones'), 143),
 (('Lightning Charging Cable', 'Wired Headphones'), 92)]

In [28]:
bulk_df['grouping'] = bulk_df.groupby(by = 'Order ID')['Product'].transform(lambda x : ','.join(x))

C:\Users\hardip thummar\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [29]:
bulk_df.head(10)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,amount,city,grouping
0,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",600.00,Los Angeles-CA,"Google Phone,Wired Headphones"
1,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",11.99,Los Angeles-CA,"Google Phone,Wired Headphones"
2,176574,Google Phone,1,600.00,04/03/19 19:42,"20 Hill St, Los Angeles, CA 90001",600.00,Los Angeles-CA,"Google Phone,USB-C Charging Cable"
3,176574,USB-C Charging Cable,1,11.95,04/03/19 19:42,"20 Hill St, Los Angeles, CA 90001",11.95,Los Angeles-CA,"Google Phone,USB-C Charging Cable"
4,176585,Bose SoundSport Headphones,1,99.99,04/07/19 11:31,"823 Highland St, Boston, MA 02215",99.99,Boston-MA,"Bose SoundSport Headphones,Bose SoundSport Hea..."
5,176585,Bose SoundSport Headphones,1,99.99,04/07/19 11:31,"823 Highland St, Boston, MA 02215",99.99,Boston-MA,"Bose SoundSport Headphones,Bose SoundSport Hea..."
6,176586,AAA Batteries (4-pack),2,2.99,04/10/19 17:00,"365 Center St, San Francisco, CA 94016",5.98,San Francisco-CA,"AAA Batteries (4-pack),Google Phone"
7,176586,Google Phone,1,600.00,04/10/19 17:00,"365 Center St, San Francisco, CA 94016",600.00,San Francisco-CA,"AAA Batteries (4-pack),Google Phone"
8,176672,Lightning Charging Cable,1,14.95,04/12/19 11:07,"778 Maple St, New York City, NY 10001",14.95,New York City-NY,"Lightning Charging Cable,USB-C Charging Cable"
9,176672,USB-C Charging Cable,1,11.95,04/12/19 11:07,"778 Maple St, New York City, NY 10001",11.95,New York City-NY,"Lightning Charging Cable,USB-C Charging Cable"

In [38]:
def display(x):
    print(x)
    print('-----------------------------------------------------------------------------------------')

In [64]:
import numpy as np
concat_df.groupby('city')

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,amount,city
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",23.90,Dallas-TX
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",99.99,Boston-MA
2,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",600.00,Los Angeles-CA
3,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",11.99,Los Angeles-CA
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",11.99,Los Angeles-CA
5,176562,USB-C Charging Cable,1,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016",11.95,San Francisco-CA
6,176563,Bose SoundSport Headphones,1,99.99,04/02/19 07:46,"668 Center St, Seattle, WA 98101",99.99,Seattle-WA
7,176564,USB-C Charging Cable,1,11.95,04/12/19 10:58,"790 Ridge St, Atlanta, GA 30301",11.95,Atlanta-GA
8,176565,Macbook Pro Laptop,1,1700.00,04/24/19 10:38,"915 Willow St, San Francisco, CA 94016",1700.00,San Francisco-CA
9,176566,Wired Headphones,1,11.99,04/08/19 14:05,"83 7th St, Boston, MA 02215",11.99,Boston-MA
10,176567,Google Phone,1,600.00,04/18/19 17:18,"444 7th St, Los Angeles, CA 90001",600.00,Los Angeles-CA
11,176568,Lightning Charging Cable,1,14.95,04/15/19 12:18,"438 Elm St, Seattle, WA 98101",14.95,Seattle-WA
12,176569,27in 4K Gaming Monitor,1,389.99,04/16/19 19:23,"657 Hill St, Dallas, TX 75001",389.99,Dallas-TX
13,176570,AA Batteries (4-pack),1,3.84,04/22/19 15:09,"186 12th St, Dallas, TX 75001",3.84,Dallas-TX
14,176571,Lightning Charging Cable,1,14.95,04/19/19 14:29,"253 Johnson St, Atlanta, GA 30301",14.95,Atlanta-GA
15,176572,Apple Airpods Headphones,1,150.00,04/04/19 20:30,"149 Dogwood St, New York City, NY 10001",150.00,New York City-NY
16,176573,USB-C Charging Cable,1,11.95,04/27/19 18:41,"214 Chestnut St, San Francisco, CA 94016",11.95,San Francisco-CA
17,176574,Google Phone,1,600.00,04/03/19 19:42,"20 Hill St, Los Angeles, CA 90001",600.00,Los Angeles-CA
19,176575,AAA Batteries (4-pack),1,2.99,04/27/19 00:30,"433 Hill St, New York City, NY 10001",2.99,New York City-NY
21,176577,Apple Airpods Headphones,1,150.00,04/04/19 19:25,"260 Spruce St, Dallas, TX 75001",150.00,Dallas-TX
22,176578,Apple Airpods Headphones,1,150.00,04/09/19 23:35,"513 Church St, Boston, MA 02215",150.00,Boston-MA
23,176579,AA Batteries (4-pack),1,3.84,04/11/19 10:23,"886 Jefferson St, New York City, NY 10001",3.84,New York City-NY
25,176581,iPhone,1,700.00,04/09/19 21:38,"84 Jackson St, Boston, MA 02215",700.00,Boston-MA
26,176582,Bose SoundSport Headphones,1,99.99,04/27/19 12:20,"178 Lincoln St, Atlanta, GA 30301",99.99,Atlanta-GA
27,176583,AAA Batteries (4-pack),2,2.99,04/20/19 12:00,"146 Jackson St, Portland, OR 97035",5.98,Portland-OR
28,176584,Flatscreen TV,1,300.00,04/24/19 20:39,"936 Church St, San Francisco, CA 94016",300.00,San Francisco-CA
29,176585,Bose SoundSport Headphones,1,99.99,04/07/19 11:31,"823 Highland St, Boston, MA 02215",99.99,Boston-MA
31,176586,AAA Batteries (4-pack),2,2.99,04/10/19 17:00,"365 Center St, San Francisco, CA 94016",5.98,San Francisco-CA
34,176588,20in Monitor,1,109.99,04/02/19 04:00,"765 Cherry St, Seattle, WA 98101",109.99,Seattle-WA
35,176589,Lightning Charging Cable,1,14.95,04/04/19 12:23,"846 Highland St, Atlanta, GA 30301",14.95,Atlanta-GA
36,176590,Google Phone,1,600.00,04/11/19 11:46,"873 6th St, New York City, NY 10001",600.00,New York City-NY
37,176591,Apple Airpods Headphones,1,150.00,04/21/19 07:21,"600 Maple St, Austin, TX 73301",150.00,Austin-TX
39,176593,Lightning Charging Cable,2,14.95,04/15/19 13:45,"906 7th St, Portland, OR 97035",29.90,Portland-OR
42,176596,Apple Airpods Headphones,1,150.00,04/27/19 20:11,"572 Meadow St, Dallas, TX 75001",150.00,Dallas-TX
45,176599,Lightning Charging Cable,1,14.95,04/11/19 15:25,"279 Maple St, New York City, NY 10001",14.95,New York City-NY
55,176609,Apple Airpods Headphones,1,150.00,04/11/19 16:59,"267 11th St, Austin, TX 73301",150.00,Austin-TX
58,176612,Apple Airpods Headphones,1,150.00,04/04/19 19:48,"149 North St, Seattle, WA 98101",150.00,Seattle-WA
63,176617,Apple Airpods Headphones,1,150.00,04/25/19 08:03,"319 8th St, Portland, OR 97035",150.00,Portland-OR
69,176623,27in FHD Monitor,1,149.99,04/20/19 23:51,"807 12th St, Atlanta, GA 30301",149.99,Atlanta-GA
70,176624,AA Batteries (4-pack),1,3.84,04/28/19 10:44,"664 Church St, Seattle, WA 98101",3.84,Seattle-WA
88,176642,AA Batteries (4-pack),1,3.84,04/17/19 18:38,"72 Elm St, Portland, OR 97035",3.84,Portland-OR
92,176646,Macbook Pro Laptop,1,1700.00,04/22/19 07:14,"657 Adams St, Portland, OR 97035",1700.00,Portland-OR
121,176674,AAA Batteries (4-pack),3,2.99,04/20/19 20:53,"907 West St, Austin, TX 73301",8.97,Austin-TX
124,176677,34in Ultrawide Monitor,1,379.99,04/01/19 11:50,"661 Washington St, Austin, TX 73301",379.99,Austin-TX
134,176686,Wired Headphones,1,11.99,04/17/19 15:17,"892 10th St, Austin, TX 73301",11.99,Austin-TX
223,176773,AAA Batteries (4-pack),2,2.99,04/25/19 20:07,"30 9th St, Portland, ME 04101",5.98,Portland-ME
336,176879,Flatscreen TV,1,300.00,04/13/19 14:15,"370 Sunset St, Portland, ME 04101",300.00,Portland-ME
366,176909,Wired Headphones,1,11.99,04/22/19 09:53,"692 Jackson St, Portland, ME 04101",11.99,Portland-ME
534,177072,iPhone,1,700.00,04/01/19 13:11,"682 9th St, Portland, ME 04101",700.00,Portland-ME
705,177230,iPhone,1,700.00,04/06/19 00:26,"16 River St, Portland, ME 04101",700.00,Portland-ME