In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\hardip thummar\Desktop\Book11.csv")
# df = df.astype({'code' : 'object'})
# df['month'] = df['month'].astype(str)

In [3]:
df2 = pd.read_csv(r"C:\Users\hardip thummar\Desktop\Book2.csv")
# df2
# df2.loc[df2['month'] == 'Apr', 'amt'].sum()

In [4]:
# boolen_series = pd.isnull(df['month'])
start = df.loc[pd.isnull(df['month']) == True].head(1).index[0]
# start = df.loc[df['month'] == 'nan'].head(1).index[0]
# boolen_series

In [5]:
# Step 1 : Dictionary from Tot_sal_month
total_sal_month = {m : a for (m, a) in zip(df2['month'], df2['amt'])}
#for m, a in zip(df2['Month'], df2['Amt']):
#    total_sal_month[m] = a

In [6]:
# df.loc[df['month'].dropna() == 'Jan']
# df.isna().sum()
if not len(df['month']) == df['month'].isna().sum():
    current_sal = {m : df.loc[df['month'] == m, 'amt'].sum() for m in df2['month']}
else:
    current_sal = {m : 0 for m in df2['month']}

In [7]:
# Step 2 : Dictionary of Current_sal_status 
# current_sal = {}
# current_sal = {m : df.loc[df['month'] == m, 'amt'][:start-1].sum() for m in df2['month']}
# for m in df2['month']:
#     current_sal[m] = df.loc[df['month'] == m, 'amt'].sum()

In [8]:
# Step 3 : Current Empty Slot
current_status = [True if current_sal[key] > total_sal_month[key] 
                  else False 
                  for key in total_sal_month.keys()]
#for key in total_sal_month.keys():
#    if current_sal[key] > total_sal_month[key]:
#        current_status.append(True)
#    else:
#        current_status.append(False)

In [9]:
# Step 4 : Index Dictionary
index_value = [(i, m) for (i, m) in zip(df2.index, df2['month'])]
index_value_2 = [(m, i) for (i, m) in zip(df2.index, df2['month'])]

index_value.extend(index_value_2)

index_dict = {a : b for a,b in index_value}

In [10]:
for a in df[start:].itertuples():
    index = a[0]
    rdf = df.loc[ :index]
    last_found_month = rdf.loc[rdf['code'] == df.loc[index, 'code'], 'month'].tail(2).head(1)
    current_index_sal = df.at[index, 'amt']
    if index == 0:
        df.at[index, 'month'] = str
        df.at[index, 'month'] = index_dict[current_status.index(False)]
        current_sal[df.at[index, 'month']] += current_index_sal
    else:
        if pd.isnull(df.at[index, 'month']):
            if not pd.isnull(last_found_month.iloc[0]):
                last_found_month = last_found_month.iloc[0]
                check_from_month_index = index_dict[index_dict[index_dict[last_found_month] + 1]]
                current_index_month = index_dict[current_status[check_from_month_index : ].index(False) + check_from_month_index]
                df.at[index, 'month'] = current_index_month
                current_sal[df.at[index, 'month']] += current_index_sal
                if current_sal[current_index_month] > total_sal_month[current_index_month]:
                    current_status[index_dict[current_index_month]] = True
            else:
                current_index_month = index_dict[current_status.index(False)]
                df.at[index, 'month'] = current_index_month
                current_sal[df.at[index, 'month']] += current_index_sal
                if current_sal[current_index_month] > total_sal_month[current_index_month]:
                    current_status[index_dict[current_index_month]] = True

IndexError: single positional indexer is out-of-bounds

In [11]:
df

                                   name          code      amt  date   month
0                      MEHUL S SAVALIYA  7.115000e+11  30000.0   NaN  Jan-19
1             ASHOKKUMAR BALUBHAI PATEL  7.101001e+11  25000.0   NaN  Jan-19
2         DEVENDRAPRATAP JAGATPAL SINGH  1.651011e+13  25000.0   NaN  Jan-19
3                    KAILASH S SAVALIYA  7.115000e+11  25000.0   NaN  Jan-19
4                      MEHUL S SAVALIYA  7.115000e+11  25000.0   NaN  Feb-19
5                  MITTAL RAHUL THUMMAR  1.681011e+13  25000.0   NaN  Jan-19
6                           NASIM AHMED  3.020711e+10  30000.0   NaN  Jan-19
7                  RAMESH BAHADUR SINGH  1.651011e+13  23000.0   NaN  Jan-19
8                 VASHIM SHAUKAT SHAIKH  2.000735e+10  30000.0   NaN  Jan-19
9                      MEHUL S SAVALIYA  7.115000e+11  25000.0   NaN  Mar-19
10            ASHOKKUMAR BALUBHAI PATEL  7.101001e+11  20000.0   NaN  Feb-19
11                   KAILASH S SAVALIYA  7.115000e+11  30000.0   NaN  Feb-19
12                          NASIM AHMED  3.020711e+10  30000.0   NaN  Feb-19
13                VASHIM SHAUKAT SHAIKH  2.000735e+10  25000.0   NaN  Feb-19
14                 MITTAL RAHUL THUMMAR  1.681011e+13  25000.0   NaN  Feb-19
15        DEVENDRAPRATAP JAGATPAL SINGH  1.651011e+13  25000.0   NaN  Feb-19
16                 RAMESH BAHADUR SINGH  1.651011e+13  23000.0   NaN  Feb-19
17      NITINKUMAR RAMESHCHANDRA GANDHI  6.501028e+10  35000.0   NaN  Jan-19
18           HIRENBHAI CHIMANBHAI PATEL  6.501028e+10  24200.0   NaN  Jan-19
19            VALA MAHESHBHAI BHOLABHAI  6.501028e+10  24500.0   NaN  Jan-19
20                MINABEN KANTILAL RANA  8.021036e+10  22500.0   NaN  Jan-19
21        KACHARIYA GEETABEN MUKESHBHAI  6.501028e+10  22500.0   NaN  Jan-19
22                   VAGHELA  HARSHABEN  6.501028e+10  22500.0   NaN  Jan-19
23          MR KALPESH GOPALBHAI SHINDE  6.501028e+10  24300.0   NaN  Jan-19
24                      HETALBEN  MEHTA  6.501028e+10  22500.0   NaN  Jan-19
25          SATISHBHAI DINESHBHAI PATEL  6.501028e+10  23000.0   NaN  Jan-19
26    GUNDANIYA PRAKASHBHAI VITTHALBHAI  6.501028e+10  24100.0   NaN  Jan-19
27          PATEL YOGESHBHAI CHIMANBHAI  6.501028e+10  24100.0   NaN  Jan-19
28        DILIPBHAI BHURABHAI CHAUDHARI  8.021036e+10  24400.0   NaN  Jan-19
29       MANDANI MANOJKUMAR MANSUKHBHAI  6.501028e+10  24200.0   NaN  Jan-19
...                                 ...           ...      ...   ...     ...
6050                                NaN           NaN      NaN   NaN     NaN
6051                                NaN           NaN      NaN   NaN     NaN
6052                                NaN           NaN      NaN   NaN     NaN
6053                                NaN           NaN      NaN   NaN     NaN
6054                                NaN           NaN      NaN   NaN     NaN
6055                                NaN           NaN      NaN   NaN     NaN
6056                                NaN           NaN      NaN   NaN     NaN
6057                                NaN           NaN      NaN   NaN     NaN
6058                                NaN           NaN      NaN   NaN     NaN
6059                                NaN           NaN      NaN   NaN     NaN
6060                                NaN           NaN      NaN   NaN     NaN
6061                                NaN           NaN      NaN   NaN     NaN
6062                                NaN           NaN      NaN   NaN     NaN
6063                                NaN           NaN      NaN   NaN     NaN
6064                                NaN           NaN      NaN   NaN     NaN
6065                                NaN           NaN      NaN   NaN     NaN
6066                                NaN           NaN      NaN   NaN     NaN
6067                                NaN           NaN      NaN   NaN     NaN
6068                                NaN           NaN      NaN   NaN     NaN
6069                                NaN           NaN      NaN   NaN     NaN
6070                                NaN           NaN      NaN   NaN     NaN
6071                                NaN           NaN      NaN   NaN     NaN
6072                                NaN           NaN      NaN   NaN     NaN
6073                                NaN           NaN      NaN   NaN     NaN
6074                                NaN           NaN      NaN   NaN     NaN
6075                                NaN           NaN      NaN   NaN     NaN
6076                                NaN           NaN      NaN   NaN     NaN
6077                                NaN           NaN      NaN   NaN     NaN
6078                                NaN           NaN      NaN   NaN     NaN
6079                                NaN           NaN      NaN   NaN     NaN

[6080 rows x 5 columns]

In [ ]:
df2['current_salary'] = current_sal.values()

In [ ]:
# df.to_csv(r"C:\Users\hardip thummar\Desktop\Book11.csv", index = False)
# df2.to_csv(r"C:\Users\hardip thummar\Desktop\Book2.csv", index = False)