In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\hardip thummar\Desktop\Daniel Chen\pydatadc_2018-tidy-master\data\gapminder.tsv", sep = '\t')

In [3]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [4]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [5]:
df.index

RangeIndex(start=0, stop=1704, step=1)

In [6]:
df.values

array([['Afghanistan', 'Asia', 1952, 28.801, 8425333, 779.4453145],
       ['Afghanistan', 'Asia', 1957, 30.331999999999997, 9240934,
        820.8530296],
       ['Afghanistan', 'Asia', 1962, 31.997, 10267083, 853.1007099999999],
       ...,
       ['Zimbabwe', 'Africa', 1997, 46.809, 11404948, 792.4499602999999],
       ['Zimbabwe', 'Africa', 2002, 39.989000000000004, 11926563,
        672.0386227000001],
       ['Zimbabwe', 'Africa', 2007, 43.486999999999995, 12311143,
        469.70929810000007]], dtype=object)

In [7]:
df.shaped

(1704, 6)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 66.6+ KB

In [9]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [11]:
df[['country', 'continent', 'year']].head()

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [13]:
df.loc[[2, 3], ['lifeExp', 'pop']]

   lifeExp       pop
2   31.997  10267083
3   34.020  11537966

In [14]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]], 
                 index = ['cobra', 'viper', 'sidewinder'],
                 columns = ['max_speed', 'shield'])

In [15]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [16]:
df.index

Index(['cobra', 'viper', 'sidewinder'], dtype='object')

In [17]:
df.columns

Index(['max_speed', 'shield'], dtype='object')

In [18]:
df.values

array([[1, 2],
       [4, 5],
       [7, 8]], dtype=int64)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, cobra to sidewinder
Data columns (total 2 columns):
max_speed    3 non-null int64
shield       3 non-null int64
dtypes: int64(2)
memory usage: 60.0+ bytes

In [20]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [21]:
df.loc[['viper', 'sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [22]:
df.loc['viper' : 'sidewinder']

            max_speed  shield
viper               4       5
sidewinder          7       8

In [23]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [26]:
df.loc[df['shield'] > 6]

            max_speed  shield
sidewinder          7       8

In [27]:
df.loc[df['shield'] > 6, 'max_speed']

sidewinder    7
Name: max_speed, dtype: int64

In [28]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [31]:
df.loc[df['shield'] > 4, 'shield'] = 50
df

            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

In [32]:
df.loc['cobra'] = 10
df

            max_speed  shield
cobra              10      10
viper               4      50
sidewinder          7      50

In [33]:
df.loc[:, 'max_speed'] = 30
df

            max_speed  shield
cobra              30      10
viper              30      50
sidewinder         30      50

In [34]:
df.loc[df['shield'] > 34, 'max_speed'] = 0
df

            max_speed  shield
cobra              30      10
viper               0      50
sidewinder          0      50

In [36]:
values = [
    [12, 2], [0, 4],
    [10, 20], [1, 4],
    [7, 1], [16, 36]
]
tuples = (('cobra', 'mark i'), ('cobra', 'mark ii'),
          ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
          ('viper', 'mark i'), ('viper', 'mark ii')
         )
index = pd.MultiIndex.from_tuples(tuples)
columns = ['max_speed', 'shield']
df = pd.DataFrame(data = values, index = index, columns = columns)
df

                    max_speed  shield
cobra      mark i          12       2
           mark ii          0       4
sidewinder mark i          10      20
           mark ii          1       4
viper      mark i           7       1
           mark ii         16      36

In [43]:
df.loc[[('cobra', 'mark ii'), ('viper', 'mark i')]]

               max_speed  shield
cobra mark ii          0       4
viper mark i           7       1

In [ ]:
df[]